<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.psychologicalcounselingsystem.mybatis.mapper.UserInfoMapper">
    <resultMap id="userInfoMap" type="com.example.psychologicalcounselingsystem.mybatis.entity.UserInfo">

        <id property="id" column="id" />
        <result property="userID" column="userID" />
        <result property="userName" column="userName" />
        <result property="userPhonenum" column="userPhonenum" />
        <result property="userProfect" column="userProfect" />
        <result property="userLocation" column="userLocation" />
        <result property="userAddress" column="userAddress" />
    </resultMap>
</mapper>